body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: grey;
	height: 100vh;
}

#main-wrapper {
	display: flex;
}

img {
	width: 550px;
	height: 550px;
	border-radius: 10px;
	padding: 10px;
	box-shadow: 0 0 11px 0 rgb(0, 0, 0, 0.75);
}

.row {
	display: flex;
	width: 120px;
	height: 120px;
	flex-flow: column;
	margin-left: 10px;
	margin-bottom: 5px;
	padding: 10px;
}
